.App {
  text-align: center;
  color: #232921;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e75153;
  user-select: none;
}

#drum-machine {
  height: 350px;
  width: 600px;
  background-color: #58b89d;
  border: 8px solid #4f3a4b;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#title {
  position: absolute;
  top: 5px;
  right: 10px;
  text-transform: uppercase;
}

#title::after {
  content: url('equalizer.svg');
  display: inline-block;
  width: 1em;
  margin-left: 0.5em;
}

#drum-machine::before,
#drum-machine::after {
  content: '';
}

#drum-pad-div {
  width: 300px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
    'Q W E'
    'A S D'
    'Z X C';
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #drum-pad-div {
    display: -ms-grid;
    -ms-grid-rows: 1fr 10px 1fr 10px 1fr;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  }

  #Q {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #W {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  #E {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  #A {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  #S {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  #D {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }

  #Z {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  #X {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }

  #C {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
}

#control-div {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#control-div::before,
#control-div::after {
  content: '';
}

.drum-pad {
  border: 1px solid #6f9990;
  border-radius: 5px;
  background-color: #499781;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 175ms ease-out;
}

.drum-pad:hover {
  background-color: #50a88f;
}

.drum-pad:active,
.down {
  background-color: #e8c547 !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d3d3d3;
  transition: 0.2s;
  border-radius: 7px;
  opacity: 0.8;
  box-shadow: inset 0 0 4px -1px rgba(0, 0, 0, 0.7),
    2px 2px 5px -3px rgba(0, 0, 0, 0.7);
}

.slider:hover {
  opacity: 1;
}

.slider::before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: #121317;
  transition: 0.4s;
  border-radius: 7px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.7),
    inset 1px 1px 3px -2px rgba(255, 255, 255, 0.5);
}

input:checked + .slider {
  background-color: #d3d3d3;
}

input:checked + .slider.power {
  background-color: #a93b3d;
  opacity: 1;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(0, 0, 0);
}

input:checked + .slider::before {
  transform: translateX(18px);
}

#display {
  width: 150px;
  height: 50px;
  background-color: rgba(211, 211, 211, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: inset 0 0 4px -1px rgba(0, 0, 0, 0.7),
    2px 2px 5px -3px rgba(0, 0, 0, 0.7);
}

#volume {
  display: flex;
  flex-direction: column;
}

.rslider {
  -webkit-appearance: none;
  width: 200px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  padding: 0;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  box-shadow: inset 0 0 4px -1px rgba(0, 0, 0, 0.7),
    2px 2px 5px -3px rgba(0, 0, 0, 0.7);
}

.rslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 7px;
  background: #121317;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.7),
    inset 1px 1px 3px -2px rgba(255, 255, 255, 0.5);
}

.rslider::-moz-range-thumb {
  border: none;
  width: 22px;
  height: 22px;
  border-radius: 7px;
  background: #121317;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.7),
    inset 1px 1px 3px -2px rgba(255, 255, 255, 0.5);
}

.rslider::-ms-track {
  width: 200px;
  height: 5px;

  /* remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /* leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /* remove default tick marks */
  color: transparent;
}

.rslider::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

.rslider::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

.rslider::-ms-thumb {
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #121317;
}

.rslider:hover {
  opacity: 1;
}

.rslider:focus::-ms-fill-lower {
  background: #888;
}

.rslider:focus::-ms-fill-upper {
  background: #ccc;
}

#footer {
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: none;
  margin-top: 3px;
}

a {
  text-decoration: none;
  color: #285448;
  font-weight: bold;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
