.App {
  text-align: center;
  color: #232921;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#E75153;
  user-select:none;
}

#drum-machine{
  height: 350px;
  width: 600px;
  background-color: #58B89D;
  border: 8px solid #4F3A4B;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#drum-pad-div{
  width: 300px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: 
    "Q W E" 
    "A S D"
    "Z X C";
}

#control-div{
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.drum-pad{
  border: 1px solid #6f9990;
  border-radius: 5px;
  background-color: #499781;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 175ms ease-out;
}

.drum-pad:hover{
  background-color:#50A88F;
}

.drum-pad:active, .down{
  background-color: #E8C547 !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d3d3d3;
  transition: .2s;
  border-radius: 7px;
  opacity: 0.8;
}

.slider:hover{
  opacity: 1;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: #121317;
  transition: .4s;
  border-radius: 7px;
}

input:checked + .slider {
  background-color: #d3d3d3;
}

input:checked + .slider.power{
  background-color: #A93B3D;
  opacity:1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7E2D2E;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

#display{
  width: 150px;
  height: 50px;
  background-color: rgba(211, 211, 211, 0.7);
  display: flex;
  justify-content:center;
  align-items: center;
}

.rslider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.rslider:hover {
  opacity: 1;
}

.rslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 7px;
  background: #121317;
  cursor: pointer;
}

.rslider::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border-radius: 7px;
  background: #121317;
  cursor: pointer;
}